@import "tailwindcss";
@theme {
  --font-mulish: var(--font-mulish), sans-serif;
  --font-tenor: var(--font-tenor), sans-serif;
  --color-bg1: #f7f7fa;
  --color-bg2: #191918;
  --color-theme: #d68e43;
  --color-text: #525252;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-theme);
  border-radius: 10px;
}

.hidescroll::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.hidescroll::-webkit-scrollbar-thumb {
  background: transparent;
}

body {
  @apply font-mulish;
}

button {
  cursor: pointer;
}
.test {
  border: 1px solid red;
}

/* loading blocks */
@keyframes shimmer {
  0% {
    left: -100px;
  }
  100% {
    left: calc(100% + 100px);
  }
}

.shimmer {
  animation: shimmer 1.5s infinite linear;
}

/* Headings */
.text h1 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
  font-family: var(--font-tenor), sans-serif;
}

.text strong {
  font-weight: bold;
}

.text h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  font-family: var(--font-tenor), sans-serif;
}

/* Paragraphs */
.text p {
  font-size: 14px;
  margin: 5px 0;
}

/* Lists */
.text ul {
  list-style: disc;
  padding-left: 15px;
  margin-bottom: 10px;
}

.text li {
  font-size: 12px;
  margin-bottom: 5px;
}

/* Links */
.text a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.text a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Inline Elements */
.text strong {
  font-weight: bold;
}

.text em {
  font-style: italic;
}
